TaskClientPC/TaskClientPC/Connected Services/TaskyServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userType" type="tns:UserType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin" />
      <xs:enumeration value="ShiftManager" />
      <xs:enumeration value="Worker" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="Shift">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="end" type="xs:dateTime" />
          <xs:element minOccurs="0" name="shiftName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strat" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shift" nillable="true" type="tns:Shift" />
  <xs:complexType name="Assignment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateOfAssigment" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="doneByUser" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="forUser" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="summery" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Assignment" nillable="true" type="tns:Assignment" />
  <xs:complexType name="AssignmentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assignment" nillable="true" type="tns:Assignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssignmentList" nillable="true" type="tns:AssignmentList" />
  <xs:complexType name="UserInShiftList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInShift" nillable="true" type="tns:UserInShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInShiftList" nillable="true" type="tns:UserInShiftList" />
  <xs:complexType name="UserInShift">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="_shift" nillable="true" type="tns:Shift" />
          <xs:element minOccurs="0" name="_user" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="isClockedIn" type="xs:boolean" />
          <xs:element minOccurs="0" name="isClockedOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="userClockIn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="userClockOut" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInShift" nillable="true" type="tns:UserInShift" />
  <xs:complexType name="CategoryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryList" nillable="true" type="tns:CategoryList" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>